body {
    width: 1000px;
    margin: auto
}

h1 {
    text-align: center;
    font-size: 72px;
    font-family: sans-serif;
}
h3 {
    text-align: center;
}

nav {
    text-align: center;
    border: 5px black double
}

#hero {
    display: block;
    margin: 20px auto
}


.images {
    text-align: center;
    margin: 50px
}

.picture-1 {
    float: left;
    margin-right: 20px
}

.picture-2 {
    float: right
}

.section1, .section2 {
    background: #F0F0F0;
    padding: 20px
}

.section2 {
    clear: both;
    margin-top: 50px;
}

.images img{
    border-radius: 100px;
}

main li {
    list-style-type: none;
    display: inline;
    margin: 0 60px;
}


nav li {
    margin: 30px;
    padding: 10px;
    list-style-type: none;
    display: inline;
    color: black;
    
}

nav a {
    text-decoration: none;
    color: black
}


p{
    font-size: 20px
}

footer {
    clear: both;
    font-size: 30px;
    margin-top: 150px;
    border-top: 6px black double;
    text-align: center;
}